/* products */

#products main h1 { 
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}


#range { 
  border: none;
  float: right;
  margin-right: 20px;
}

#products main .container {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}





#products .row {
  /* flex-wrap: wrap; */
  width: 100%;
  overflow: hidden;
}

#products .product {
  width: calc(50% - 10px);
  min-height: 235px;
  /* display: flex; */
  flex-wrap: wrap;
  color:black;
  float: left;
  padding-left: 20px;
  padding-bottom: 40px;
 
}

#products .product img {
  width: 100%; 
  /* height: 156px; */
  object-fit: contain;
  }


#products .product .info span {
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
}

#products .product .info .title {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 5px;
}


#products .product .info .price {
  font-weight: bold;
  font-size: 12px;
  display: inline;
  color: red;
}

#products .sale{
  color: #ccc;
  display: inline;
  padding-left: 10px;
  font-size: 10px;
}

















/* 
#products .row:after {
  content: '';
  display: block;
  clear: both;
} */

/* body{
  margin: 0;
  max-width: 500px;
} */



/* .img-cover{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);                                                                 
  z-index: 999;
}
 */
